html,body{
    height: 100%;
}

.navbar-nav.center {
	width: 100%;
	text-align: center;
}

.navbar-nav.center li {
	float: none;
	display: inline-block;
}

#holder{
	width: 1150px;
	min-height: 90%;
	margin: auto;
}

#body {
	margin: 0 auto;
}

#navigation_top2 {
	z-index: 1; 
	background-color: white;
}

.vertical-menu {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.vertical-menu.employee {
	margin-top: 130px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.account-info {
	width: 70%;
	display: inline-block;
}

.account-info.employee {
	margin-top: 70px;
}

.profile_tab_title {
	font-size: 30px;
	margin-bottom: 10px;
}

.help-block {
	color: red;
}

.statusMsg {
	color: blue;
}

#category {
	width: auto;
}

.active {
	background-color:rgb(238,238,238);
}

#wrap {
	width: 100%;
	margin: auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:  flex;
}
.col-sm-3.product {
	background-color: rgb(238,238,238);
	margin: 10px;
	position: relative;
}

.product_image {
	border-radius: 3px;
	display: inline-block;
	margin: 10px 0px;
	max-height:220px;
	max-width: 220px;
	cursor: pointer;
}

.product_name.no_underline, .product_category.no_underline {
	text-decoration: none;
}
